@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --blue: #C8EDE6;
    --black: #161616;
    --light-color: #C8EDE6;
   --bg-color:#eee;
   --dark-bg:rgba(0,0,0,.7);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --border:.1rem solid #999;
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: none;
   transition: all .2s linear;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

body{
    background: rgb(255, 253, 253);
}

.container{
   max-width: 1200px;
   margin:0 auto;
   /* padding-bottom: 5rem; */
}

section{
   padding:2rem;
}

.heading{
   text-align: center;
   font-size: 3.5rem;
   text-transform: uppercase;
   color:var(--black);
   margin-bottom: 2rem;
}

.heading span{
    background: #c22b3d;
    color: floralwhite;
    display: inline-block;
    padding: 0.5rem 1rem;
    clip-path: polygon(100% 15%, 95% 50%, 100% 85%, 0% 85%, 5% 50%, 0% 15%);
}

.btn,
.option-btn,
.delete-btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    font-weight: bold;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: #0e0d0d;
    cursor: pointer;
    background: none;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover{
    background: #b43030;
    color: #fffefe;
}

.option-btn i,
.delete-btn i{
   padding-right: .2rem;
}

.option-btn{
   background-color: var(--orange);
}

.delete-btn{
   margin-top: 0;
   background-color: var(--red);
}

.message{
   background-color: var(--blue);
   position: sticky;
   top:0; left:0;
   z-index: 10000;
   border-radius: .5rem;
   background-color: #b43030;
   padding:1.5rem 2rem;
   margin:0 auto;
   max-width: 1200px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap:1.5rem;
}

.message span{
   font-size: 2rem;
   color: #fffefe;
}

.message i{
   font-size: 2.5rem;
   color:#fffefe;
   cursor: pointer;
}

.message i:hover{
   color:var(--red);
}

.header{
   background-color:rgb(255, 255, 255);
   position: sticky;
   align-items: center;
   text-align: center;
   top:0; left:0;
   z-index: 1000;
}

.header .flex{
   display: flex;
   align-items: center;
   padding:1.5rem 2rem;
   max-width: 1200px;
   margin:0 auto;
}

.header .flex .logo{
   margin-right: auto;
   font-size: 2.5rem;
   color:var(--white);
}

.header .flex .navbar a{
   margin-left: 2rem;
   font-size: 2rem;
   font-weight: bolder;
   color:#8d1010;
}

.header .flex .navbar a:hover{
   color:rgb(10, 10, 10);
}

.header .flex .cart{
   margin-left: 2rem;
   font-size: 2rem;
   color: #050505;
}

.header .flex .cart:hover{
   color:#c22b3d;
}

.header .flex .cart span{
   padding:.1rem .5rem;
   border-radius: .5rem;
   background-color: var(--white);
   color:var(--blue);
   font-size: 2rem;
}

.footer{
    background-color: #b42020;
    padding: 2rem;
}

.footer p{
    color: #050505;
    font-size: 1.5rem;
    font-weight: bold;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(try.webp) no-repeat;
    background-position: center;
    background-size: cover; 
    padding-top: 23rem;
    padding-bottom: 5rem;
}

.home .content{
    text-align: center;
    width: 60rem;
}

.home .content h3{
    color: rgb(0, 0, 0);
    font-size: 4.5rem;
}

.home .content h3 span{
    color: #d61616;
}

.features h1{
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1.8;
    color: #050505;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

.features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
    padding-bottom: 5.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.features .box-container .box p{
   text-align: justify;
}

.features .box-container .box{
    padding: 1.5rem .5rem;
    background: rgb(255, 255, 255);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    padding-left: 3rem;
    padding-right: 3rem;
}

.features .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.features .box-container .box h3{
    font-size: 3.5rem;
    line-height: 1.2;
    color: #c21a2e;
}

.features .box-container .box p{
    font-size: 1.8rem;
    line-height: 1.2;
    color: var(--black);
    padding: 1rem;
}

.review .review-slider{
   padding: 1rem;
}

.review .review-slider .box{
   background: #ffffff;
   border-radius: .5rem;
   text-align: center;
   padding: 3rem 2rem;
   outline-offset: -1rem;
   outline: var(--box-shadow);
   transition: .2s linear;
}

.review .review-slider .box:hover{
   outline: var(--outline-hover);
   outline-offset: 0rem;
}

.review .review-slider .box img{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
}

.review .review-slider .box p{
   padding: 1rem 0;
   line-height: 1.8;
   color: var(--light-color);
   font-size: 1.5rem;
}

.review .review-slider .box h3{
   padding-bottom: .5rem;
   color: var(--black);
   font-size: 2.2rem;
}

.review .review-slider .stars i{
   color: var(--orange);
   font-size: 1.7rem;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(about-2.webp) no-repeat;
    background-position: center;
    background-size: 70rem; 
    padding-top: 35rem;
    padding-bottom: 1rem;
}

.about-1 .content-1{
    text-align: center;
    width: 130rem;
    padding-bottom: 1rem;
}

.about-1 .content-1 h2{
    color: #c22b3d;
    font-size: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.about-1 .content-1 p{
    color: rgb(5, 5, 5);
    font-size: 2.5rem;
    font-weight: 500;
    padding: 1rem 0;
    line-height: 1.5;
    padding-bottom: 5.5rem;
}

.contact h2{
    color: #b81212;
    text-align: center;
    font-size: 5rem;
    padding-bottom: 2rem;
}

.contact .box-container{
    display: contents;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 3rem;
    padding-bottom: 2.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.contact .box-container .box{
    padding: 2rem .1rem;
    background: rgb(255, 255, 255);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
}

.contact .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: #050505;
}

.contact .box-container .box p{
    font-size: 2rem;
    line-height: 1.8;
    color: var(--black);
    padding: 0.5rem;
}

.news .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 3rem;
    padding-top: 2rem;
    padding-bottom: 5.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.news h2{
    font-size: 3.5rem;
    text-align: center;
    line-height: 1.8;
    color: #050505;
}

.news h3{
    font-size: 2.5rem;
    text-align: left;
    line-height: 1.8;
    color: #050505;
}

.news .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.2;
    color: rgb(0, 0, 0);
    padding: 0.5rem;
}

#menu-btn{
   margin-left: 2rem;
   font-size: 3rem;
   cursor: pointer;
   color:var(--white);
   display: none;
}

.add-product-form{
   max-width: 50rem;
   background-color: rgb(233, 228, 228);
   border-radius: .5rem;
   padding:2rem;
   margin:0 auto;
   margin-top: 2rem;
}

.add-product-form h3{
   font-size: 2.5rem;
   margin-bottom: 1rem;
   color:#000000;
   text-transform: uppercase;
   text-align: center;
   font-weight: bolder;
}

.add-product-form .box{
   text-transform: none;
   padding:1.2rem 1.4rem;
   font-size: 1.7rem;
   color:rgb(7, 7, 7);
   border-radius: .5rem;
   background-color: rgb(165, 160, 160);
   margin:1rem 0;
   width: 100%;
}

.display-product-table table{
   width: 100%;
   text-align: center;
}

.display-product-table table thead th{
   padding:1.5rem;
   font-size: 2rem;
   background-color: #c22b3d;
   color: #050505;
}

.display-product-table table td{
   padding:1.5rem;
   font-size: 2rem;
   font-weight: bold;
   color:rgb(0, 0, 0);
}

.display-product-table table td:first-child{
   padding:0;
}

.display-product-table table tr:nth-child(even){
   background-color: #bebaba;
}

.display-product-table .empty{
   margin-bottom: 2rem;
   text-align: center;
   background-color: var(--bg-color);
   color: #000000;
   font-size: 100rem;
   padding:1.5rem;
}

.edit-form-container{
   position: fixed;
   top:0; left:0;
   z-index: 1100;
   background-color: var(--dark-bg);
   padding:2rem;
   display: none;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   width: 100%;
}

.edit-form-container form{
   width: 50rem;
   border-radius: .5rem;
   background-color: var(--white);
   text-align: center;
   padding:2rem;
}

.edit-form-container form .box{
   width: 100%;
   background-color: var(--bg-color);
   border-radius: .5rem;
   margin:1rem 0;
   font-size: 1.7rem;
   color:var(--black);
   padding:1.2rem 1.4rem;
   text-transform: none;
}

.products .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   gap:1.5rem;
   justify-content: center;
}

.products .box-container .box{
   text-align: center;
   padding:2rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   border-radius: .5rem;
}

.products .box-container .box img{
   height: 25rem;
}

.products .box-container .box h3{
   margin:1rem 0;
   font-size: 2.5rem;
   color:var(--black);
}

.products .box-container .box .price{
   font-size: 2.5rem;
   color:var(--black);
}

.admin-search {
   max-width: 50rem;
   background-color: rgb(233, 228, 228);
   border-radius: .5rem;
   padding:2rem;
   margin:0 auto;
   margin-top: 2rem;
}

.admin-search h1{
   font-size: 10rem;
   margin-bottom: 1rem;
   color:#000000;
   text-transform: uppercase;
   text-align: center;
   font-weight: bolder;
}

.admin-search .label{
   text-transform: none;
   padding:1.2rem 1.4rem;
   font-size: 1.7rem;
   color:rgb(7, 7, 7);
   border-radius: .5rem;
   background-color: rgb(165, 160, 160);
   margin:1rem 0;
   width: 100%;
}

.admin-search .label p{
   font-size: 10rem;
}

.shopping-cart table{
   text-align: center;
   width: 100%;
}

.shopping-cart table thead th{
   padding:1.5rem;
   font-size: 2rem;
   color: #050505;
   background-color: #bd1e1e;
}

.shopping-cart table tr td{
   border-bottom: var(--border);
   padding:1.5rem;
   font-size: 2rem;
   color: rgb(5, 5, 5);
   font-weight: bold;
}

.shopping-cart table input[type="number"]{
   border: var(--border);
   padding:1rem 2rem;
   font-size: 2rem;
   color: rgb(8, 8, 8);
   font-weight: bold;
   width: 10rem;
}

.shopping-cart table input[type="submit"]{
   padding:.5rem 1.5rem;
   cursor: pointer;
   font-size: 2rem;
   font-weight: bold;
   background-color: #f5f0f0;
   color: rgb(2, 2, 2);
}

.shopping-cart table input[type="submit"]:hover{
   background-color: #b42020;
}

.shopping-cart table .table-bottom{
   background-color: var(--bg-color);
}

.shopping-cart .checkout-btn{
   text-align: center;
   margin-top: 1rem;
}

.shopping-cart .checkout-btn a{
   display: inline-block;
   width: auto;
}

.shopping-cart .checkout-btn a.disabled{
   pointer-events: none;
   opacity: .5;
   user-select: none;
   background-color: var(--red);
}

.checkout-form form{
   padding:2rem;
   border-radius: .5rem;
   background-color: var(--bg-color);
}

.checkout-form form .flex{
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
}

.checkout-form form .flex .inputBox{
   flex:1 1 40rem;
}

.checkout-form form .flex .inputBox span{
   font-size: 2rem;
   color:var(--black);
}

.checkout-form form .flex .inputBox input,
.checkout-form form .flex .inputBox select{
   width: 100%;
   background-color: var(--white);
   font-size: 1.7rem;
   color:var(--black);
   border-radius: .5rem;
   margin:1rem 0;
   padding:1.2rem 1.4rem;
   text-transform: none;
   border:var(--border);
}

.display-order{
   max-width: 50rem;
   background-color: var(--white);
   border-radius: .5rem;
   text-align: center;
   padding:1.5rem;
   margin:0 auto;
   margin-bottom: 2rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
}

.display-order span{
   display: inline-block;
   border-radius: .5rem;
   background-color: var(--bg-color);
   padding:.5rem 1.5rem;
   font-size: 2rem;
   color:var(--black);
   margin:.5rem;
}

.display-order span.grand-total{
   width: 100%;
   background-color: var(--red);
   color:var(--white);
   padding:1rem;
   margin-top: 1rem;
}

.order-message-container{
   position: fixed;
   top:0; left:0;
   height: 100vh;
   overflow-y: scroll;
   overflow-x: hidden;
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1100;
   background-color: whitesmoke;
   width: 100%;
}

.order-message-container::-webkit-scrollbar{
   width: 1rem;
}

.order-message-container::-webkit-scrollbar-track{
   background-color: var(--dark-bg);
}

.order-message-container::-webkit-scrollbar-thumb{
   background-color: var(--blue);
}

.order-message-container .message-container{
   width: 50rem;
   background-color: rgb(194, 194, 211);
   border-radius: 12px;
   padding:2rem;
   text-align: center;
}

.order-message-container .message-container h3{
   font-size: 3rem;
   font-weight: bold;
   text-transform: uppercase;
   color: black;
}

.order-message-container .message-container .order-detail{
   background-color: whitesmoke;
   border-radius: .5rem;
   padding:12px;
   margin:1rem 0;
}

.order-message-container .message-container .order-detail span{
   background-color: rgb(26, 26, 27);
   border-radius: .5rem;
   color: #ffffff;
   font-size: 2rem;
   display: inline-block;
   padding:1rem 1.5rem;
   margin:1rem;
}

.order-message-container .message-container .order-detail span.total{
   display: inline-block;
   background:rgb(26, 26, 27);
   color:#ffffff;
}

.order-message-container .message-container .customer-details{
   margin:1.5rem 0;
}

.order-message-container .message-container .customer-details p{
   padding:1rem 0;
   font-size: 2rem;
   font-weight: bolder;
   color:rgb(10, 10, 10);
}

.order-message-container .message-container .customer-details p span{
   color:rgb(10, 10, 10);
   padding:0 .5rem;
   text-transform: none;
}





/* media queries  */

@media (max-width:1200px){

   .shopping-cart{
      overflow-x: scroll;
   }

   .shopping-cart table{
      width: 120rem;
   }

   .shopping-cart .heading{
      text-align: left;
   }

   .shopping-cart .checkout-btn{
      text-align: left;
   }

}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
      transition: .2s linear;
   }

   #menu-btn.fa-times{
      transform: rotate(180deg);
   }

   .header .flex .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--blue);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: .2s linear;
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }

   .header .flex .navbar a{
      margin:2rem;
      display: block;
      text-align: center;
      font-size: 2.5rem;
   }

   .display-product-table{
      overflow-x: scroll;
   }

   .display-product-table table{
      width: 90rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .heading{
      font-size: 3rem;
   }

   .products .box-container{
      grid-template-columns: 1fr;
   }

}